body {
  background-color: rgba(0, 102, 255, 0.664);
  font-family: PT serif;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0);
  border-radius: 16px;
  padding: 30px;
}
header {
}
main {
}
footer {
}
